@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=Roboto&display=swap');

html {
    font-size: 62.5%;
    font-family: 'Lumanosimo', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-size: 2.5rem;
    color: white;
    background-image: url(../images/stadium.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.heading {
    margin-top: 25px;
    margin-bottom: 25px;
}

.main-container {
    height: 600px;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.65);
    margin-left: 15%;
    margin-right: 15%;
}

#question {
    padding-top: 80px;
    height: 380px;
    margin-bottom: 40px;
}

.btn {
    color: white;
    font-size: 2.2rem;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0.75);
    width: 40%;
    height: 50px;
    margin-bottom: 10px;
    cursor: pointer;
}

#score-container {
    margin-top: 25px;
}

.scores {
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.65);
    display: inline;
    padding: 5px 20px;
    margin-left: 30px;
    margin-right: 30px;
}

/* Media queries */

/* For small screen sizes from 768px wide and down */
@media screen and (max-width: 768px) {

    .heading {
        font-size: 3.5rem;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #question {
        padding-top: 40px;
        height: 300px;
        margin-bottom: 25px;
    }

    .btn {
        font-size: 1.8rem;
        width: 70%;
    }

    #score-container {
        margin-top: 20px;
    }
}

/* For small screen sizes from 480px wide and down */
@media screen and (max-width: 480px) {

    .main-container {
        height: 580px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #question {
        height: 270px;
    }

    .btn {
        width: 80%;
    }

    .scores {
        font-size: 1.5rem;
        display: block;
        padding: 5px 0;
        margin: 0 30% 10px 30%;
    }
}