@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=Roboto&display=swap');

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-size: 2.5rem;
    color: white;
    background-image: url(../images/stadium.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.hidden {
    display: none;
}

/* Headings */

h1, h2 {
    font-family: 'Lumanosimo', sans-serif;
}

h1 {
    margin-top: 25px;
    margin-bottom: 25px;
}

h2 {
    font-size: 3rem;
    padding-top: 50px;
}

/* Shared styles */

.main-container {
    height: 600px;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.65);
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
}

.main-container > p {
    margin: 50px 10% 50px 10%;
}

.btn {
    color: white;
    font-size: 2.2rem;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0.75);
    height: 50px;
    cursor: pointer;
}

/* Intro window */

.menu-btn {
    display: block;
    width: 30%;
    margin: 20px 35% 0 35%;
}

/* Game window */

#game-window {
    position: relative;
}

#exit-btn {
    font-size: 1.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    height: 35px;
    width: 35px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

#question {
    padding-top: 80px;
    height: 380px;
    margin-bottom: 40px;
}

.answer-btn {
    width: 40%;
    margin-bottom: 10px;
}

/* Score */

#score-container {
    margin-bottom: 15px;
}

.scores {
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.65);
    display: inline;
    padding: 5px 20px;
    margin-left: 30px;
    margin-right: 30px;
}

/* Media queries */

/* For small screen sizes from 768px wide and down */
@media screen and (max-width: 768px) {

    h1 {
        font-size: 3.5rem;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 2.5rem;
    }

    .main-container > p {
        font-size: 2rem;
        margin: 30px 5% 30px 5%;
    }
    
    .menu-btn {
        font-size: 1.8rem;
        width: 40%;
        margin: 20px 30% 0 30%;
    }

    #question {
        padding-top: 40px;
        height: 300px;
        margin-bottom: 25px;
    }

    .answer-btn {
        font-size: 1.8rem;
        width: 70%;
    }
}

/* For small screen sizes from 480px wide and down */
@media screen and (max-width: 480px) {

    .menu-btn {
        width: 60%;
        margin: 20px 20% 0 20%;
    }

    .main-container > p {
        font-size: 1.8rem;
    }

    #game-window {
        height: 580px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #question {
        height: 270px;
    }

    .answer-btn {
        width: 80%;
    }

    .scores {
        font-size: 1.5rem;
        display: block;
        padding: 5px 0;
        margin: 0 30% 10px 30%;
    }
}